<div>
    <div class="container mx-auto py-20">
        <app-title-component title="Our Teams"></app-title-component>
        <div class="grid grid-cols-3 gap-8 mt-20">
            @for (item of bannerTeams; track $index;) {
            <div class="relative rounded-[20px] max-sm:rounded-[12px] bg-white border border-[#F0F0F0] border-solid">
                <div class="block">
                    <div class="">
                        <div class="bg-no-repeat bg-contain bg-top px-20 rounded-t-[20px]" [style]="{
                            'background-image': 'url(' + item + ')',
                          }">
                            <img src="assets/images/pages/home/img_team.png" alt="Product Pion" title="Product Pion"
                                width="100%" height="100%" class="rounded-full border-8 border-white relative top-12 mb-12" />
                        </div>
                    </div>
                    <div class="px-12 pb-4">
                        <div class="text-center py-6">
                            <p class=" font-semibold text-sizeProduct mb-2 max-sm:text-[10px] max-sm:leading-[15px]">
                                Team_name
                            </p>
                            <p class="line-clamp-4 text-sm leading-6 max-sm:text-[8px] max-sm:leading-[12px]">
                                A short text description of less than 80 characters, introducing the main features of
                                the application. A short text description of less than 80 characters, introducing the
                                main features
                            </p>
                        </div>
                        <div>
                            <a href="" class="flex items-center justify-center gap-x-3 text-colorLinkDefault text-sizeProduct font-semibold
                                py-8 border-t border-[#E1E1E1] border-solid">
                                <img src="assets/images/pages/home/Rocket.svg" alt="" width="32" height="32"
                                    class="max-w-max" />
                                <span>Explore</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            }
        </div>
    </div>
</div>