<div class="flex justify-center flex-col gap-y-6 text-center">
    <img src="assets/images/pages/recruit/ic_done.svg" width="" height="" alt="" class="mx-auto" />
    <h3 class="text-colorLinkDefault text-2xl leading-6">Nộp hồ sơ thành công!</h3>
    <p class="text-sm leading-6 text-[#363636]">Chúc mừng bạn đã nộp hồ sơ ứng tuyển thành công. Hội đồng tuyển dụng sẽ
        bắt đầu xét duyệt hồ sơ của bạn. Nếu hồ
        sơ hợp lệ và đáp ứng đầy đủ các yêu cầu của vị trí ứng tuyển, chúng tôi sẽ liên hệ lại từ 5-7 ngày làm việc bằng
        email & điện thoại. Mong sớm gặp bạn tị PionTech!</p>
    <button type="button" (click)="dialogRef.close()"
        class="text-base leading-7 text-colorLinkDefault py-[14px] w-full border border-colorLinkDefault border-solid rounded-lg">
        Đóng thông báo
    </button>
</div>