<div class="bg-[#0F1A2B] py-[63px] relative">
    <div class="container mx-auto px-[calc(100%_/_12)]">
        <div class="grid grid-cols-3  max-sm:gap-x-[4px] max-lg:gap-x-[74px]">
            <div class="py-[17px]">
                <a [routerLink]="''" [rel]="'dofollow'">
                    <img src="assets/images/global/logo_footer.svg" alt="logo Pion Vietnam" title="logo Pion Vietnam" />
                </a>
            </div>
            <div class="border-l border-white/40 border-solid pl-[60px] py-[33px]">
                <nav class="flex items-center h-full">
                    <ul class="grid grid-rows-3 grid-flow-col gap-y-4 w-full list-disc">
                        @for (item of menus; track $index) {
                        <li class="text-white text-sizeDefault font-medium duration-300 ease-in-out hover:text-colorActive"
                            [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{
                            exact: true
                        }">
                            <a class="  block w-full h-full "
                                [routerLink]="item.link">
                                {{item.title}}
                            </a>
                        </li>
                        }

                    </ul>
                </nav>
            </div>
            <div class="border-l border-white/40 border-solid pl-[60px] py-[13px]">
                <div class="flex flex-col gap-y-2">
                    @for (item of contactsInfo; track $index) {
                    <div class="flex items-center gap-x-[10px] max-sm:gap-x-[4px]">
                        <img [src]="item.icon" alt="" title="" width="24" height="24" />
                        <p class="text-white text-sizeDefault font-medium">
                            {{item.title}}
                        </p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>