.title-new {
    position: relative;
    display: inline-block;
    &::before {
        position: absolute;
        font-weight: 500;
        font-size: 12px;
        padding: 5px 4px;
        right: -50px;

        color: #fff;
        line-height: 16px;
        bottom: 10px;
        border-radius: 8px 8px 8px 0px;
        content: 'new';
        background-color: #00cd39;
        text-transform: uppercase;
        font-weight: 600;
    }

    &::after {
        content: "";
        position: absolute;
        right: -21.5px;
        width: 0;
        height: 0;
        border-right: 9px solid transparent;
        bottom: 4px;
        border-top: 6px solid #00a32e;
    }
}

.title-hot {
    position: relative;
    display: inline-block;
    &::before {
        position: absolute;
        font-weight: 500;
        font-size: 12px;
        padding: 5px 4px;
        right: -44px;
        color: #fff;
        line-height: 16px;
        bottom: 10px;
        border-radius: 8px 8px 8px 0px;
        content: 'hot';
        background-color: red;
        text-transform: uppercase;
        font-weight: 600;
    }

    &::after {
        content: "";
        position: absolute;
        right: -18.5px;
        width: 0;
        height: 0;
        border-right: 9px solid transparent;
        bottom: 4px;
        border-top: 6px solid red;
    }
}