
.team:nth-child(even) {
    .banner {
        order: 2;
        .img_bg {
            display: flex;
            justify-content: flex-end;
        }
        .img_avatar {
            justify-content: flex-start;
        }
    }
    .img {
        order: 2;
    }
    .content {
        order: 1;
        text-align: right;
    }
}